<!DOCTYPE html>
<html>
<head>
    <title>To-Do Page</title>
</head>
<body>
    <h2>Add To-Do Item</h2>

    <form action="/submittodoitem" method="POST">

        <label>Item ID:</label><br> 
        <input type="number" name="itemId" required><br><br>

        <label>Item UUID:</label><br>
        <input type="text" name="itemUUID" required><br><br>

        <label>Item Hash:</label><br>
        <input type="text" name="itemHash" required><br><br>

        <label>Item Name:</label><br>
        <input type="text" name="itemName" required><br><br>

        <label>Item Description:</label><br>
        <textarea name="itemDescription" required></textarea><br><br>

        <button type="submit">Add Item</button>
    </form>
</body>
</html>
